<%= render 'shared/header' %>

<div class='user-page'>
  <div class='user-page-contents'>
    <div class='side-contents'>
      <div class='user-profile'>
        <h1 class='profile-title'>プロフィール</h1>
        <div class='user-info'>
          <%= "ニックネーム： #{@user.nickname}" %>
        </div>
        <div class='user-info'>
          <%= "性別： #{@user.gender}" %>
        </div>
        <div class='user-info'>
          <%= "年齢： #{@user.age}" %>
        </div>
        <div class='user-info'>
          <%= "身長： #{@user.height}cm" %>
        </div>
        <div class='user-info'>
          <%= "体重： #{@user.weight}kg" %>
        </div>
        <div class='user-edit-btn'>
          <%= link_to "編集", "#", class:'edit-btn' %>
        </div>
      </div>
      <div class='user-metabolism-calc'>
        <div class='user-metabolism'>
          <%= render partial: "shared/metabolism_calc", locals: {user: @user} %>
        </div>
        <div class='user-metabolism'>
          <%= render partial: "shared/bmi_calc", locals: {user: @user} %>
        </div>
        <div class='user-metabolism'>
          <%= render partial: "shared/standared_weight_calc", locals: {user: @user} %>
        </div>
      </div>
    </div>
    <div class='main-contents'>
      <ul class='main-tabs'>
        <li class='tab tab-active'><%= "#{@user.nickname}の食事内容一覧" %></li>
        <li class='tab'><%= "#{@user.nickname}のお気に入り一覧" %></li>
      </ul>
      <div class='main-meals'>
        <div class='tab-box box-show'>
          <ul class='user-meals-list'>
            <% @meals.each do |meal| %>
              <li class='user-meal'>
                <%= link_to meal_path(meal.id), class: "user-meal-link" do %>
                <div class='user-meal-image-content'>
                  <%= image_tag meal.image, class:"user-meal-image" %>
                </div>
                <div class='user-meal-content'><%= meal.name %></div>
                <div class='user-meal-content'><%= meal.created_at.strftime("投稿日：%Y年%m月%d日") %></div>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
        <div class='tab-box'>い</div>
      </div>
    </div>
  </div>
</div>