<header class='top-header'>
  <div class='app-name'>
  Let's 食事管理！！！
  </div>
  <div class='navi'>
    <ul class='lists'>
        <li><%= link_to 'マイページ', "#", class: "user-page" %></li>
        <li><%= link_to '新規投稿', "#", class: "new-meal" %></li>
        <li><%= link_to 'ログアウト', "#", class: "logout" %></li>
        <li><%= link_to 'ログイン', "#", class: "login" %></li>
        <li><%= link_to '新規登録', "#", class: "sign-up" %></li>
    </ul>
  </div>
</header>
